/* main {
  display: flex;
  justify-content: center;
} */

.addProps {
  display: flex;
  justify-content: center;
  color: #1A237E;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select {
  padding: 6.5px;
  border: 1px solid #5f5f5f;
  border-radius: 8.5px;
  margin-bottom: 10px;
  width: 50%;
  border-color: #1A237E;
  font-size: large;
}

select {
  height: 35px;
  width: 52%;
  background-color: white;
}

.button2 {
  width: 100px;
    height: 25px;
    background-color: #3F51B5;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: inherit;
    border-radius: 8.5px;
}