.navBar {
  background-color: white;
  border-bottom: 1px solid #9E9E9E;
}

.textlogo {
  display: inline;
  color: #3F51B5;
}

.nav {
  margin: 0px;
  padding: 0px;
  display: inline;
}

.item {
  margin: 0px;
  padding: 10px;
  display: inline;
  font-size: 20px;
  color: #3F51B5;
}

.button {
  font-size: 15px;
  margin: 10px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  color: #3F51B5;
}

.button:hover {
  background-color: #9FA8DA;
  border-radius: 12px;
  color: white;
}
